<div class="full-home">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height" id="particles-js"></particles>
    <div class="container">
        <div class="row">
            <div class="homeCenter">
                <img src="assets/images/logo.png" class="col-xs-6 col-xs-offset-3 col-md-5 col-md-offset-4 imgCenteralize img-responsive">
                <h4 class="col-xs-8 col-xs-offset-3 col-md-5 col-md-offset-5 tagCentralize">Creatives Community</h4>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Navigate</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="homeBrand" class="navbar-brand">ARTARCK</a>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Profiles</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Submit/Product</a></li>                    
                </ul>
            </div>
        </div>
    </nav>
</div>