<!-- <mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">

    </mat-drawer> -->

    <!-- this is where the main-content will be! -->
    <form class="clearfix">
        <div class="breadcrumb-wrapper breadcrumb-form">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-20-sm">
                        <div class="searchWrapper">
                            <div class="input-group">
                                <input type="text" class="form-control searchBar" placeholder="LOOKING FOR">
                                <div class="input-group-btn">
                                    <button class="btn btnSearch">Search</button>
                                </div>
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">

                        <div class="row gap-15">

                            <div class="col-xss-12 col-xs-6 col-sm-6">

                                <div class="checkbox-block">
                                    <input id="checkbox_block_1" name="checkbox_block" type="checkbox" class="checkbox" value="First Choice" checked />
                                    <label class="" for="checkbox_block_1">Free + premium</label>
                                </div>

                                <div class="checkbox-block">
                                    <input id="checkbox_block_2" name="checkbox_block" type="checkbox" class="checkbox" value="First Choice" checked />
                                    <label class="" for="checkbox_block_2">Free-picks</label>
                                </div>

                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-6">

                                <div class="checkbox-block">
                                    <input id="checkbox_block_3" name="checkbox_block" type="checkbox" class="checkbox" value="First Choice" />
                                    <label class="" for="checkbox_block_3">Premium-picks</label>
                                </div>

                                <div class="checkbox-block">
                                    <input id="checkbox_block_4" name="checkbox_block" type="checkbox" class="checkbox" value="First Choice" />
                                    <label class="" for="checkbox_block_4">pick-pick</label>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2">

                        <div class="text-right">
                            <span class="btn btn-toggle btn-refine collapsed" data-toggle="collapse" data-target="#refine-result">Refine Result</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="filter-wrapper">

            <div id="refine-result" class="collapse">

                <div class="container">

                    <div class="collapse-inner clearfix">

                        <div class="row gap-15">

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" placeholder="Exclude keyword(s)" class="form-control">
                                </div>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <input type="text" placeholder="Artist name" class="form-control">
                                </div>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
                                <div class="form-group">
                                    <select id="filter_image_type" class="selectpicker show-tick form-control" title="Image Type" data-selected-text-format="count > 3"
                                        data-done-button="true" data-done-button-text="OK" multiple>
												<option value="0">JPG</option>
												<option value="1">PNG</option>
												<option value="2">TIFF</option>
												<option value="3">GIF</option>
											</select>
                                </div>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">

                                <div class="form-group">
                                    <select id="filter_image_size" class="selectpicker show-tick form-control" title="Image Size" data-selected-text-format="count > 3"
                                        data-done-button="true" data-done-button-text="OK" multiple>
												<option value="0">S (0.5mpx)</option>
												<option value="1">M (2mpx)</option>
												<option value="2">L (6mpx)</option>
												<option value="3">XL (12mpx)</option>
												<option value="4">XXL (20mpx)</option>
											</select>
                                </div>

                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">

                                <div class="form-group">
                                    <select id="filter_image_orientation" class="selectpicker show-tick form-control" title="Image Orientation" data-selected-text-format="count > 3"
                                        data-done-button="true" data-done-button-text="OK" multiple>
												<option value="0">Landscape</option>
												<option value="1">Portrait</option>
												<option value="2">Square</option>
											</select>
                                </div>

                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">

                                <div class="form-group">
                                    <select id="filter_number_of_people" class="selectpicker show-tick form-control" title="No. of people" data-selected-text-format="count > 3"
                                        data-done-button="true" data-done-button-text="OK" multiple>
												<option value="0">Single</option>
												<option value="1">Group</option>
												<option value="2">No People</option>
											</select>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>

    
    <!--Content Container closed here-->


<!-- </mat-drawer-container> -->