<app-header></app-header>
<div class="main-wrapper">
	<div class="hero" style="background-image:url('./assets/images/banner.jpg');">
		<div class="container">
			<div class="row gap-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title-special">
						<h1>Home for the Creatives</h1>
						<p class="p-title">Find everything you need for your creative projects. Download instantly.</p>
					</div>
				</div>

				<div class="col-md-8 col-md-offset-2">

					<div class="input-group-search-form-wrapper size-lg">

						<div class="input-group bg-change-focus-addclass">

							<input type="text" class="form-control" placeholder="Search images, footage, vector">

							<div class="input-group-btn dropdown-select">
								<div class="dropdown dropdown-select">
									<button class="btn dropdown-toggle" type="button" id="mainSearchDropdown" data-toggle="dropdown" aria-expanded="true">
												All Stock
												<span class="caret"></span>
											</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="mainSearchDropdown">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">All Stock</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-2" href="javascript:void(0)">Photos</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-3" href="javascript:void(0)">Illustrations</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-4" href="javascript:void(0)">Vector</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-5" href="javascript:void(0)">Photoshop</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-6" href="javascript:void(0)">Footage</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-7" href="javascript:void(0)">Contributor</a></li>
									</ul>
								</div>
							</div>
							<!-- /btn-group -->

							<div class="input-group-btn hidden-xss">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</div>

						</div>
						<!-- /input-group -->

						<button class="btn btn-primary btn-block bt visible-xss">Search Image</button>

					</div>

				</div>

			</div>

		</div>

	</div>
	<!-- aint supposed to do this buh I just need the spacing w/t style -->
	<br><br>
	<div class="content-wrapper">

		<div class="section pb-50 pt-50">

			<div class="container">
				<div class="row gap-0">
					<div class="col-md-10 col-md-offset-1">
						<div class="section-title-special mb-30">
							<h2>Stocks Search Categories</h2>
							<p>You can search through our stock from popular categories such as <br/>People, Nature, Landscape or Business</p>
						</div>
					</div>
				</div>
				<ul class="home-category-list clearfix mt-10">
					<li><a href="#">Animals</a></li>
					<li><a href="#">Children</a></li>
					<li><a href="#">Food</a></li>
					<li><a href="#">Industry</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Love</a></li>
					<li><a href="#">Sexy</a></li>
					<li><a href="#">Nature</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#">Health</a></li>
					<li><a href="#">Internet</a></li>
					<li><a href="#">Party</a></li>
					<li><a href="#">Texture</a></li>
					<li><a href="#">Background</a></li>
					<li><a href="#">Education</a></li>
					<li><a href="#">Holiday</a></li>
					<li><a href="#">Landscape</a></li>
					<li><a href="#">People</a></li>
					<li><a href="#">Beauty</a></li>
					<li><a href="#">Environment</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Love</a></li>
					<li><a href="#">Sexy</a></li>
					<li><a href="#">Travel</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Family</a></li>
					<li><a href="#">Icons</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">Smile</a></li>
					<li><a href="#">Vector</a></li>
				</ul>
				<div class="clear mb-50"></div><br><br>
				<div class="row gap-20 mb-70">

					<div class="col-xss-12 col-xs-6 col-sm-6">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
											CategoryA
										</span>
									</a>
						</div>
					</div>

					<div class="col-xss-12 col-xs-6 col-sm-3">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
										  B
										</span>
									</a>
						</div>
					</div>

					<div class="col-xss-12 col-xs-6 col-sm-3">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
											C
										</span>
									</a>
						</div>
					</div>

					<div class="col-xss-12 col-xs-6 col-sm-3">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
											D
										</span>
									</a>
						</div>
					</div>

					<div class="col-xss-12 col-xs-6 col-sm-3">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
											E
										</span>
									</a>
						</div>
					</div>

					<div class="col-xss-12 col-xs-6 col-sm-6">
						<div class="category-image-bg" style="background-image:url('./assets/images/artarck1.png');">
							<a href="#">
										<span class="text">
											F
										</span>
									</a>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- aint supposed to do this buh I just need the spacing w/t style 
  <br><br> -->

	<div class="image-bg-wrapper overlay-white process-wrapper">

		<div class="container">

			<div class="row gap-0">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-title-special">
						<h2 class="text-primary">How it works</h2>
					</div>
				</div>
			</div>

			<div class="GridLex-gap-30">

				<div class="GridLex-grid-noGutter-equalHeight">

					<div class="GridLex-col-4_sm-4_xs-12">

						<div class="process-item clearfix">

							<div class="number">
								<span class="text-primary">0</span>1
							</div>

							<div class="content">
								<h3 class="text-main font700">Sign Up</h3>
								<p>Property men the smallest graceful insisted smallness expenses as material</p>
							</div>

						</div>

					</div>

					<div class="GridLex-col-4_sm-4_xs-12">

						<div class="process-item clearfix">

							<div class="number">
								<span class="text-primary">0</span>2
							</div>

							<div class="content">
								<h3 class="text-main font700">Search Photos</h3>
								<p>Ecstatic elegance disposed smallness rent been part breeding insisted</p>
							</div>

						</div>

					</div>

					<div class="GridLex-col-4_sm-4_xs-12">

						<div class="process-item clearfix">

							<div class="number">
								<span class="text-primary">0</span>3
							</div>

							<div class="content">
								<h3 class="text-main font700">Get Yours</h3>
								<p>Property men the smallest graceful insisted smallness building to in</p>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
	<div class="section pb-70">

		<div class="container">

			<div class="user-action-wrapper">

				<div class="GridLex-gap-30">

					<div class="GridLex-grid-noGutter-equalHeight">

						<div class="GridLex-col-6_sm-6_xs-12">

							<div class="user-action-item clearfix">

								<div class="icon">
									<i class="pe-7s-cash"></i>
								</div>

								<div class="content">

									<h4 class="text-uppercase mb-20">Looking Photos to Buy</h4>
									<p class="mb-25">It allowance prevailed enjoyment in it. Calling observe for who pressed raising his. Can connection instrument astonished
										unaffected his motionless preference.</p>

									<a href="#" class="btn btn-primary">Sign Up For Free</a>

								</div>

							</div>

						</div>

						<div class="GridLex-col-6_sm-6_xs-12">

							<div class="user-action-item clearfix">

								<div class="icon">
									<i class="pe-7s-camera"></i>
								</div>

								<div class="content">

									<h4 class="text-uppercase mb-20">Are You Photograpper?</h4>
									<p class="mb-25">It allowance prevailed enjoyment in it. Calling observe for who pressed raising his. Can connection instrument astonished
										unaffected his motionless preference.</p>

									<a href="#" class="btn btn-primary">Upload your photos</a>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="content-wrapper pt-50 pb-50">

		<div class="container">
			<div class="tab-style-01-wrapper">
				<div class="clear"></div>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab-style-01-01">

						<div class="tab-inner">

							<div class="pricing-wrapper clearfix">

								<div class="GridLex-gap-30">

									<div class="GridLex-grid-noGutter-equalHeight">

										<div class="GridLex-col-4_sm-4_xs-12_xss-12">

											<div class="pricing-item-01">

												<div class="pricing-item-inner">

													<div class="pricing-item-header">

														<h4>By Image Count</h4>
														<p>Spot of come to ever hand as lady meet on. Delicate contempt received two yet advanced.</p>

													</div>

													<div class="pricing-item-content">

														<ul class="tab-nav">
															<li class="active"><a href="#tab-image-count-01" data-toggle="tab">Standard License</a></li>
															<li><a href="#tab-image-count-02" data-toggle="tab">Extended License</a></li>
														</ul>

														<div class="tab-content mt-50">

															<div class="tab-pane fade in active" id="tab-image-count-01">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio-1" name="pricing_radio" type="radio" class="radio" checked />
																		<label for="pricing_radio-1">1 image <span class="radio-price"> &#8358;10</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio-2" name="pricing_radio" type="radio" class="radio" />
																		<label for="pricing_radio-2">11 image <span class="radio-price"> &#8358;100</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio-3" name="pricing_radio" type="radio" class="radio" />
																		<label for="pricing_radio-3">23 image <span class="radio-price"> &#8358;150</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio-4" name="pricing_radio" type="radio" class="radio" />
																		<label for="pricing_radio-4">34 image <span class="radio-price"> &#8358;200</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio-5" name="pricing_radio" type="radio" class="radio" />
																		<label for="pricing_radio-5">60 image <span class="radio-price"> &#8358;300</span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;15</span> per images
																			<span class="label label-main ml-10">10% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Standart License</li>

																	</ul>

																</div>

															</div>

															<div class="tab-pane fade" id="tab-image-count-02">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio_2-1" name="pricing_radio_2" type="radio" class="radio" checked />
																		<label for="pricing_radio_2-1">1 image <span class="radio-price"> &#8358;12</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_2-2" name="pricing_radio_2" type="radio" class="radio" />
																		<label for="pricing_radio_2-2">11 image <span class="radio-price"> &#8358;100</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_2-3" name="pricing_radio_2" type="radio" class="radio" />
																		<label for="pricing_radio_2-3">23 image <span class="radio-price"> &#8358;150</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_2-4" name="pricing_radio_2" type="radio" class="radio" />
																		<label for="pricing_radio_2-4">34 image <span class="radio-price"> &#8358;220</span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_2-5" name="pricing_radio_2" type="radio" class="radio" />
																		<label for="pricing_radio_2-5">60 image <span class="radio-price"> &#8358;400</span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;110.5</span> per images
																			<span class="label label-main ml-10">12% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Extended License</li>

																	</ul>

																</div>

															</div>

														</div>

													</div>

												</div>

											</div>

										</div>

										<div class="GridLex-col-4_sm-4_xs-12_xss-12">

											<div class="pricing-item-01 best">

												<div class="pricing-item-best-label"><span>Best Value</span></div>

												<div class="pricing-item-inner">

													<div class="pricing-item-header">

														<h4>Monthly Subscription</h4>
														<p>Spot of come to ever hand as lady meet on. Delicate contempt received two yet advanced.</p>

													</div>

													<div class="pricing-item-content">

														<ul class="tab-nav">
															<li class="active"><a href="#tab-monthly-01" data-toggle="tab">1 month</a></li>
															<li><a href="#tab-monthly-02" data-toggle="tab">1 year</a></li>
														</ul>

														<div class="tab-content">

															<p class="text-center mb-5 font700">Images per month</p>

															<div class="tab-pane fade in active" id="tab-monthly-01">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio_3-1" name="pricing_radio_3" type="radio" class="radio" checked />
																		<label for="pricing_radio_3-1">10 image <span class="radio-price"> &#8358;128 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_3-2" name="pricing_radio_3" type="radio" class="radio" />
																		<label for="pricing_radio_3-2">25 image <span class="radio-price"> &#8358;1133 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_3-3" name="pricing_radio_3" type="radio" class="radio" />
																		<label for="pricing_radio_3-3">40 image <span class="radio-price"> &#8358;1266 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_3-4" name="pricing_radio_3" type="radio" class="radio" />
																		<label for="pricing_radio_3-4">100 image <span class="radio-price"> &#8358;1399 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_3-5" name="pricing_radio_3" type="radio" class="radio" />
																		<label for="pricing_radio_3-5">150 image <span class="radio-price"> &#8358;1522 <small>/month</small></span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;10.99</span> per images
																			<span class="label label-main ml-10">12% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Standart License</li>

																	</ul>

																</div>

															</div>

															<div class="tab-pane fade" id="tab-monthly-02">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio_4-1" name="pricing_radio_4" type="radio" class="radio" checked />
																		<label for="pricing_radio_4-1">10 image <span class="radio-price"> &#8358;123 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_4-2" name="pricing_radio_4" type="radio" class="radio" />
																		<label for="pricing_radio_4-2">25 image <span class="radio-price"> &#8358;1125 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_4-3" name="pricing_radio_4" type="radio" class="radio" />
																		<label for="pricing_radio_4-3">40 image <span class="radio-price"> &#8358;1250 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_4-4" name="pricing_radio_4" type="radio" class="radio" />
																		<label for="pricing_radio_4-4">100 image <span class="radio-price"> &#8358;1370 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_4-5" name="pricing_radio_4" type="radio" class="radio" />
																		<label for="pricing_radio_4-5">150 image <span class="radio-price"> &#8358;1500 <small>/month</small></span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;10.88</span> per images
																			<span class="label label-main ml-10">12% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Standart License</li>

																	</ul>

																</div>

															</div>

														</div>

													</div>

												</div>

											</div>

										</div>

										<div class="GridLex-col-4_sm-4_xs-12_xss-12">

											<div class="pricing-item-01">

												<div class="pricing-item-inner">

													<div class="pricing-item-header">

														<h4>Daily Subscription</h4>
														<p>Gentleman as belonging he commanded believing dejection in by. On no am winding chicken so behaved.</p>

													</div>

													<div class="pricing-item-content">

														<ul class="tab-nav">
															<li class="active"><a href="#tab-daily-01" data-toggle="tab">1 month</a></li>
															<li><a href="#tab-daily-02" data-toggle="tab">1 year</a></li>
														</ul>

														<div class="tab-content">

															<p class="text-center mb-5 font700">Images per day</p>

															<div class="tab-pane fade in active" id="tab-daily-01">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio_5-1" name="pricing_radio_5" type="radio" class="radio" checked />
																		<label for="pricing_radio_5-1">10 image <span class="radio-price"> &#8358;128 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_5-2" name="pricing_radio_5" type="radio" class="radio" />
																		<label for="pricing_radio_5-2">25 image <span class="radio-price"> &#8358;1133 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_5-3" name="pricing_radio_5" type="radio" class="radio" />
																		<label for="pricing_radio_5-3">40 image <span class="radio-price"> &#8358;1266 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_5-4" name="pricing_radio_5" type="radio" class="radio" />
																		<label for="pricing_radio_5-4">100 image <span class="radio-price"> &#8358;1399 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_5-5" name="pricing_radio_5" type="radio" class="radio" />
																		<label for="pricing_radio_5-5">150 image <span class="radio-price"> &#8358;1522 <small>/month</small></span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;10.99</span> per images
																			<span class="label label-main ml-10">12% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Standart License</li>

																	</ul>

																</div>

															</div>

															<div class="tab-pane fade" id="tab-daily-02">

																<div class="tab-inner">

																	<div class="radio-block">
																		<input id="pricing_radio_6-1" name="pricing_radio_6" type="radio" class="radio" checked />
																		<label for="pricing_radio_6-1">10 image <span class="radio-price"> &#8358;123 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_6-2" name="pricing_radio_6" type="radio" class="radio" />
																		<label for="pricing_radio_6-2">25 image <span class="radio-price"> &#8358;1125 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_6-3" name="pricing_radio_6" type="radio" class="radio" />
																		<label for="pricing_radio_6-3">40 image <span class="radio-price"> &#8358;1250 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_6-4" name="pricing_radio_6" type="radio" class="radio" />
																		<label for="pricing_radio_6-4">100 image <span class="radio-price"> &#8358;1370 <small>/month</small></span></label>
																	</div>

																	<div class="radio-block">
																		<input id="pricing_radio_6-5" name="pricing_radio_6" type="radio" class="radio" />
																		<label for="pricing_radio_6-5">150 image <span class="radio-price"> &#8358;1500 <small>/month</small></span></label>
																	</div>

																	<div class="clear"></div>

																	<ul class="pricing-item-list mt-30">

																		<li><i class="fa fa-check-square-o text-main"></i> <span class="font700 font18"> &#8358;10.88</span> per images
																			<span class="label label-main ml-10">12% save</span></li>

																	</ul>

																	<div class="mt-20 text-center">

																		<a href="#" class="btn btn-primary">Buy Now</a>

																	</div>

																	<ul class="pricing-item-list mt-20">

																		<li><i class="fa fa-check-square-o text-main"></i> Standart License</li>

																	</ul>

																</div>

															</div>

														</div>

													</div>
												</div>

											</div>

										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>